h1{
    font-size: 60px;
    font-family:"Oswald","sans-serif";
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 5px 5px 5px grey;
}
#taulu1,#taulu2,#taulu3,#taulu4,#taulu5,#taulu6,#taulu7,#taulu8,#taulu9,#taulu10,#taulu11,#taulu12,#taulu13,#taulu14,#taulu15,#taulu16,#taulu17,
#taulu18,#taulu19,#taulu20,#taulu21,#taulu22,#taulu23,#taulu24,#taulu25,#taulu26,#taulu27,#taulu28,#taulu29,#taulu30,#taulu31,#taulu32,#taulu33,
#taulu34,#taulu35,#taulu36,#taulu37,#taulu38,#taulu39,#taulu40,#taulu41,#taulu42,#taulu43,#taulu44,#taulu45,#taulu46,#taulu47,#taulu48,#taulu49,
#taulu50,#taulu51,#taulu52{
    table, th, tr{
        border:2px solid;
        border-collapse: collapse;
        min-width:100px;
        min-height: 800px;
        padding: 2px;
        background: linear-gradient(to right,#7ff0aa,white);
        font-family:"Oswald","sans-serif";
    }
    /*position: fixed;
    left: 400px;
    bottom: -1%;*/
}
/*#yyy{
    position: relative;
}*/
.teksti{
    font-size: 18px;
}
.mnt,.tist,.kesk,.tors,.perj,.laun,.sunn{
    font-size: 15px;
}

#info1{
    font-size: 20px;
    color: red;
}
#inf{
    min-width: 300px;
    min-height: 100px;
    /*overflow-y: scroll;*/
    line-break: auto;
}
body{
    background: linear-gradient(to top, cyan, white);
    background-attachment: fixed;
}
#bx1{
    cursor: move;
    border:1px solid;
    text-align: center;
    padding: 2px;
    width: 300px;
    min-height:20px;
}
#bx2{
    cursor: move;
    border:1px solid;
    text-align: center;
    padding: 2px;
    width: 300px;
}